<h1>editing attendance type</h1>

<% form_for(:attendance_type, :url => attendance_type_path(@attendance_type), :html => { :method => :put }) do |f| %>
<p>
<b>attendance type name</b><br />
<%= f.text_field :name %>
</p>
<p><%= submit_tag "update" %></p>
<% end %>
