<%= link_to 'courses', courses_path %> |
<%= link_to 'students', students_path %> |
<%= link_to 'activities', activities_path %> |
<%= link_to 'attendances', attendances_path %> |
<%= link_to 'attendance types', attendance_types_path %> |
<%= link_to 'assignments', assignments_path %> |
<%= link_to 'assignment logging', assignment_logs_path %>
